@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Panchang';
  src: url('/fonts/Panchang-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Variable font ka range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Beverage';
  src: url('/Fonts/LT Beverage.otf') format('truetype');
  font-weight: 100 900; /* Variable font ka range */
  font-style: normal;
  font-display: swap;
}
.lt {
  font-family: 'LT Beverage';
}
.panchang {
  font-family: 'Panchang', sans-serif;
}

.header-bg {
  position: relative;
  background-image: url('/headerbg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9); /* yahan opacity control karna */
  z-index: 0;
}

.p-text {
  position: relative;
  color: white;
  z-index: 1;
}
.clr {
  color: #FEFEFE;
}
